@import url("https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

.delius-unicase-bold {
  font-family: "Delius Unicase", cursive;
  font-weight: 700;
  font-style: normal;
}

img {
  -webkit-touch-callout: none; /* Halang menu konteks pada iOS */
  -webkit-user-select: none; /* Halang teks dipilih pada iOS */
  -webkit-tap-highlight-color: transparent; /* Hilangkan highlight */
  user-select: none; /* Halang teks dipilih */
  pointer-events: none; /* Halang interaksi dengan imej */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
